@font-face {
	font-family: satoshi;
	src: url(../Satoshi-Variable.ttf);
}

@font-face {
	font-family: satoshi-bold;
	src: url(../Satoshi-Bold.otf);
}

body {
	background-color: #F5F5F5;
	font-family: satoshi;
}

#title-container {
	display: flex;
	justify-content: center;
	padding-top: .6em;
	padding: .6em 0 .3em 0;
	background-color: #F5F5F5;
	color: #4D724D;
	font-family: satoshi-bold;
	text-wrap: wrap;
	text-align: center;
}

#title-sub-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#side-nav-btn {
	margin-left: 1em;
	position: absolute;
	margin-bottom: 1em;
	padding-top: .85em;
}

#numSourcesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#numSources {
	position: absolute;
	right: 2%;
	top: 11.5%;
}

.side-nav-component {
	width: 100%;
}

#offcanvas {
	width: 23em;
}

#body-container {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.sub {
	margin-left: 10%;
}

.sub-sub {
	margin-left: 20%;
}

#table-lr td {
	padding: 1em;
	display: none;
	background-color: #F5F5F5;
	border-radius: 15px;
}

#table-lr td a {
	color: #4D724D;
	text-decoration: none;
	font-weight: bold;
}

#table-lr td p {
	margin-bottom: .3em;
	color: black;
}

#table-reminder {
	display: flex;
	display: none;
	font-size: 2vh;
	text-align: center;
	font-size: 1.3em;
	color: black;
}

div .offcanvas-header {
	display: flex;
	justify-content: space-between;
	padding: 2em 1.5em 0 2em;
	border: none;
	color: #4D724D;
	font-family: satoshi-bold;
}

.text-reset {
	color: #4D724D;
	border: none;
	font-weight: bold;
	background-color: white;
	font-size: 1.5em;
}

div .offcanvas-body {
	font-size: 1.1em;
	margin-left: 1em;
}

#menu label, #menu input {
	padding: .1em;
	cursor: pointer;
	font-size: 1.1em;
}

#navbar-container {
	padding-left: 1em;
	color: #F5F5F5;
}

#navbar {
	margin-bottom: .5em;
}

#navbar li a {
	color: #4D724D;
	font-weight: bold;
	font-size: 1.1em;
}

.active {
	color: #8DB48E !important;
}