body {
	color: #44444C;
	background-color: white;
}

#title-container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	padding-top: .6em;
	padding: .6em 0 .3em 0;
	background-color: whitesmoke;
}

#title-sub-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#side-nav-btn {
	margin-left: .5em;
	position: absolute;
}

#numSourcesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#numSources {
	position: absolute;
	right: 1%;
}

.side-nav-component {
	width: 100%;
}

#offcanvas {
	width: 23em;
}

#body-container {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.sub {
	margin-left: 10%;
}

.sub-sub {
	margin-left: 20%;
}

#table-lr td {
	padding: 1em;
	display: none;
}

#table-lr td a {
	color: #44444C;
	text-decoration: none;
}

#table-lr td p {
	margin-bottom: .3em;
}

#table-reminder {
	display: flex;
	display: none;
	font-size: 2vh;
	text-align: center;
}

div .offcanvas-header {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
}

div .offcanvas-body {
	font-size: 1.1em;
	margin-left: 1em;
}

#menu label, #menu input {
	padding: .1em;
	cursor: pointer;
}

#navbar-container {
	padding: .3em;
	padding-left: .5em;
}