body {
	color: #44444C;
	background-color: white;
}

#title-container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	padding-top: .6em;
	padding: .6em 0 .3em 0;
	background-color: whitesmoke;
}

#olympiad-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	background-color: whitesmoke;
	padding: .5em;
}

#olympiad-nav-container {
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.nav-btn {
	padding: .5em;
	border-radius: 5px;
}

.nav-btn:hover {
	cursor: pointer;
}

#info {
	display: none;
	width: 80%;
	display: flex;
	display: none;
	font-size: 2vh;
	text-align: center;
	margin-top: 1em;
}

#info-container {
	display: flex;
	justify-content: center;
}

#body-container {
	margin-top: 2em;
	padding-bottom: 2em;
}

.card {
	min-height: 22em;
	border: 1px solid lightgray;
}

@media (max-width: 900px) {
  .card {
    min-height: 0em;
  }
}

.card-title {
	width: 80%;
	padding: 1em 1em 0 1em;
}

.card-text {
	padding: .5em 1em 1em 1em;
}

h4 a {
	color: #44444C;
	text-decoration: none;
}

.card:hover {
	background-color: whitesmoke;
}

.row {
	display: flex;
}

#navbar-container {
	padding: .3em;
	padding-left: .5em;
}