@font-face {
	font-family: satoshi;
	src: url(../Satoshi-Variable.ttf);
}

@font-face {
	font-family: satoshi-bold;
	src: url(../Satoshi-Bold.otf);
}

body {
	background-color: #F5F5F5;
	font-family: satoshi;
}

#title-container {
	display: flex;
	justify-content: center;
	padding-top: .6em;
	padding: .6em 0 .3em 0;
	background-color: #F5F5F5;
	color: #4D724D;
	font-family: satoshi-bold;
}

#olympiad-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #F5F5F5;
	padding: .5em;
	font-weight: bold;
	color: #4D724D;
}

#olympiad-nav-container {
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.nav-btn {
	padding: .5em;
	border-radius: 5px;
}

.nav-btn:hover {
	cursor: pointer;
}

#info {
	display: none;
	width: 80%;
	display: flex;
	display: none;
	font-size: 2vh;
	text-align: center;
	margin-top: 1em;
	font-size: 1.3em;
}

#info-container {
	display: flex;
	justify-content: center;
}

#body-container {
	margin-top: 2em;
	padding-bottom: 2em;
}

.card {
	min-height: 22em;
	border: 1px solid lightgray;
}

@media (max-width: 900px) {
  .card {
    min-height: 0em;
  }
}

.card-title{
	width: 80%;
	padding: 1em 1em 0 1em;
}

.card-title a {
	color: #4D724D;
	font-weight: bold;
}

.card-text {
	padding: .5em 1em 1em 1em;
}

h4 a {
	color: #44444C;
	text-decoration: none;
}

.card:hover {
	background-color: #F5F5F5;
}

.row {
	display: flex;
}

#navbar-container {
	padding-left: 1em;
	color: #F5F5F5;
}

#navbar {
	margin-bottom: .5em;
}

#navbar li a {
	color: #4D724D;
	font-weight: bold;
	font-size: 1.1em;
}

.active {
	color: #8DB48E !important;
}