@font-face {
	font-family: satoshi;
	src: url(../Satoshi-Variable.ttf);
}

@font-face {
	font-family: satoshi-bold;
	src: url(../Satoshi-Bold.otf);
}

body {
	background-color: #F5F5F5;
	font-family: satoshi;
}

#box {
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin: 5% 10% 0 10%;
	color: #4D724D;
	background-color: #F5F5F5;
	text-align: center;
}

h1 {
	font-family: satoshi-bold;
	font-size: 3em;
}

#navbar-container {
	padding-left: 1em;
	color: #F5F5F5;
}

#navbar {
	margin-bottom: .5em;
}

#navbar li a {
	color: #4D724D;
	font-weight: bold;
	font-size: 1.1em;
}

.active {
	color: #8DB48E !important;
}